{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="col-lg-10" style="float: none; margin: auto">
    <div class="row justify-content-evenly mt-5">
      {% for career in careers %}

      <div class="col-sm-5">
        <div class="card" style="">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">{{ career.career_name }}</h5>
              <span class="badge bg-primary">{{ career.career_tag_id }}</span>
              <hr />
              <p class="card-text text-start">{{ career.description|truncatechars:100 }}</p>
            </div>
            <a href="{% url 'career_detail' career.id %}" class="btn btn-primary">Apply Now</a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
