{% extends 'base.html' %} {% load static %} {% block content %}
    <div>
      {% comment %} Banner Careers  {% endcomment %}
        <div class="bg-white px-14 py-10">
           <div>
              <div class="mb-10">
                <h1 class="text-4xl font-bold mb-4">{{ career.career_name }}</h1>
                <p class="bg-[#022889] text-lg w-[132px] pt-1 pb-1.5 text-center rounded-full text-white mb-5">{{career.career_tag_id}}</p>
                <p class="leading-relaxed mb-2">{{career.description |safe}}</p>
                <p class="text-sm font-semibold">Apply Before: {{ career.deadline }}</p>
              </div>
              <div class="mb-10">
                <h1 class="text-2xl font-semibold mb-4">Role & Responsibility</h1>
                <div class="bullet">
                  {{career.role_responsibility|safe}}
                </div>
              </div>
              <div class="mb-10">
                <h1 class="text-2xl font-semibold mb-4">Requirement</h1>
                <div class="bullet">
                  {{career.requirement|safe}}
                </div>
              </div>
              <div class="mb-10">
                <h1 class="text-2xl font-semibold mb-4">Plus</h1>
                <div class="bullet">
                  {{career.plus|safe}}
                </div>
              </div>
              <div class="pb-10 border-b-2 border-[#696969]">
                <h1 class="text-2xl font-semibold mb-4">Benefits</h1>
                <div class="bullet">
                  {{career.benefits|safe}}
                </div>
              </div>
           </div>
        </div>
      {% comment %} Form Registration {% endcomment %}
        <div class="bg-white py-16 px-14">
            <div>
              <form action="">
                <div class="grid grid-rows-2 mb-10">
                  <label htmlFor="name" class="font-semibold">Nama</label>
                  <Input type="text" id="name" class="w-[557px] py-1 rounded border-gray-300 shadow-sm focus:ring-[#d20008] focus:border-gray-200 transition duration-300"/>
                </div>
                <div class="grid grid-rows-2 mb-10">
                  <label htmlFor="phone" class="font-semibold">No Whatsapp</label>
                  <Input type="number" id="phone" class="w-[557px] py-1 rounded border-gray-300 shadow-sm focus:ring-[#d20008] focus:border-gray-200 transition duration-300"/>
                </div>
                <div class="grid grid-rows-2 mb-10">
                  <label htmlFor="email" class="font-semibold">Email</label>
                  <Input type="email" id="email" class="w-[557px] py-1 rounded border-gray-300 shadow-sm focus:ring-[#d20008] focus:border-gray-200 transition duration-300"/>
                </div>
                <div class="grid gap-2 mb-10">
                  <label htmlFor="cv" class="font-semibold">Upload your CV here</label>
                  <label htmlFor="cv" class="">
                    <div class="flex justify-between w-[280px] border rounded-lg border-gray-300 shadow-sm">
                      <div class="py-2 px-3">
                        <p class="text-gray-400 text-sm">
                          Select or drag file
                        </p>
                      </div>
                      <div class="py-2 px-3 border-l rounded-lg border-gray-300 shadow-sm">
                        <p class="text-gray-400 text-sm">
                          Select file
                        </p>
                      </div>
                    </div>
                  </label>
                  <Input class="hidden" type="file" id="cv"/>
                  <p class="font-semibold italic">Apply Before 23 July 2022</p>
                </div>
                <div>
                  <Button class="w-[557px] px-4 py-2 border bg-[#d20008] border-white text-white rounded hover:bg-[#b3020f] hover:border-[#d20008] text-sm font-medium transition duration-300"><span class="flex justify-center items-center"><p class="mr-3">Join Now</p> <img src="{% static "image/public/lebihDari.svg" %}" alt="" class="mt-1"/></span></Button>
                </div>
              </form>
            </div>
        </div>
      {% comment %} Footer {% endcomment %}
        <div class="bg-black  ">
          <div class="container px-20 pt-12 pb-5">
            <div class="flex justify-between">
              <div>
                <img src="{% static "image/public/logo2.svg" %}" alt="logo" class="mb-5"/>
                <p class="text-white">Komplek Green Ville, Jalan Ratu</p>
                <p class="text-white">Kemuning Blok BL No. 1,</p>
                <p class="text-white">RT08/RW14, DKI Jakarta</p>
                <p class="text-white">+(62-81) 398-716-212</p>
              </div>
              <div class="grid grid-cols-2 gap-24 pt-5">
                <div class="grid gap-3">
                  <h1 class="text-white text-2xl font-bold">Quick Links</h1>
                  <p class="text-white">Home</p>
                  <p class="text-white">About</p>
                  <p class="text-white">Services</p>
                  <p class="text-white">Process</p>
                  <p class="text-white">Projects</p>
                </div>
                <div class="grid gap-3">
                  <h1 class="text-white text-2xl font-bold">Find Us On</h1>
                  <p class="text-white">Facebook</p>
                  <p class="text-white">Instagram</p>
                  <p class="text-white">Facebook</p>
                  <p class="text-white">Linkedin</p>
                </div>
              </div>
            </div>
              <p class="text-white text-center mt-7">Copyright © <script>document.write(/\d{4}/.exec(Date())[0])</script> KeDA Tech. All Rights Reserved.</p>
          </div>
        </div>
      {% comment %} After Footer {% endcomment %}
        <div style="background-image: url('{% static "image/public/bgAfterFooterGreens.svg" %}')" class="h-[720px] shadow-black">
          <div class="container px-64 pt-72">
            <h1 class="text-5xl font-bold mb-4">Tetap Terhubung Bersama Kami</h1>
            <p class="text-2xl pr-20 mb-4">Sign up for the lat­est up­dates to our Way of Working, case stud­ies, and more.</p>
            <div>
              <form action="" method="POST" id="subs">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="form_subs">
                {{form_subs}}
                <button type="submit" class="px-3 py-1 border bg-[#d20008] text-white text-md ml-3 font-bold rounded hover:bg-[#b3020f] hover:border-[#d20008] transition duration-300">Berlangganan</button>
              </form> 

              {% if message == 'berhasil' %}
                <p style="color: rgb(16 185 129);" class="text-xs italic">Selamat, Anda telah berlangganan dengan kami!</p>
              {% elif message == 'error' %}
                <p style="color: rgb(220 38 38);" class="text-xs italic">Format Email yang Anda masukkan salah!</p>
              {% endif %}</div>
          </div>
        </div>
    </div>
{% endblock content %}