{% extends 'base.html' %} {% block content %}

<div class="container d-flex justify-content-center align-items-center mt-5">

    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  Index Page
                </div>
                <div class="card-body">
                  <strong><h3>Keda Tech Website</h3></strong>
                  <p>Back End Page API Testing</p>
                </div>
              </div>
        </div

</div>

{% endblock %}
