{% extends 'base.html' %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center mt-5">

    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  Subscribe Content
                </div>
                <div class="card-body">
                  <h3>Tetap Terhubung Bersama Kami</h3>
                        <p class="card-text">Sign up for the lat­est up­dates to our Way of Working, case stud­ies, and more.
                        </p>
                        
                        {% for message in messages %} {% if message.tags == 'success' %}

                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {%else %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %} {% endfor %}

                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                {{ form }}
                                <button class="btn btn-outline-secondary" type="submit">Subscribe</button>
                                </div>
                        </form>
                </div>
              </div>
        </div

</div>

{% endblock %}
